*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_header{
    background-color: rgba(44,62,80,255)
}

.img-avatar{
    width: 20%;
}

.bg_main{
    background-color: rgba(26,188,156,255)
}

hr{
    border-top: 3px solid black;
    opacity: 1;
    border-radius: 20px;
}

.bordo{
   border: 1px solid white;
   padding: 3% 2%;
   border-radius: 50%;

}

.width_100{
    width: 100%;
}
.content75{
    height: 75px;
}

.content{
    height: 200px;
}

.content125{
    height: 125px;
}


@media screen and (min-width: 992px) {
    .container-desktop{
        max-width: 991px;

}
}

