*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content75{
    height: 75px;
}

.content{
    height: 200px;
}

.content125{
    height: 125px;
}


@media screen and (min-width: 992px) {
    .container-desktop{
        max-width: 991px;

}
}

